@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?wgc48u');
    src:    url('fonts/icomoon.eot?wgc48u#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?wgc48u') format('truetype'),
        url('fonts/icomoon.woff?wgc48u') format('woff'),
        url('fonts/icomoon.svg?wgc48u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="__vidz_player__"], [class*=" __vidz_player__"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.__vidz_player__play:before {
    content: "\ea1c";
}
.__vidz_player__pause:before {
    content: "\ea1d";
}
.__vidz_player__backward:before {
    content: "\ea1f";
}
.__vidz_player__forward:before {
    content: "\ea20";
}
.__vidz_player__volume-high:before {
    content: "\ea26";
}
.__vidz_player__volume-medium:before {
    content: "\ea27";
}
.__vidz_player__volume-low:before {
    content: "\ea28";
}
.__vidz_player__volume-mute:before {
    content: "\ea29";
}
.__vidz_player__volume-mute2:before {
    content: "\ea2a";
}
.__vidz_player__volume-increase:before {
    content: "\ea2b";
}
.__vidz_player__volume-decrease:before {
    content: "\ea2c";
}
.__vidz_player__enlarge:before {
    content: "\e98b";
}
.__vidz_player__shrink:before {
    content: "\e98c";
}
